
    h1{
        color: yellow;
        font-size: 30px;
        text-align: center;
    }

    .campos{
        text-align: center;
    }
    .login{
        background-color: blue;
        color: red;
    }