body{
    background: linear-gradient(89.9deg, rgb(208, 246, 255) 0.1%, rgb(255, 237, 237) 47.9%, rgb(255, 255, 231) 100.2%);

}
.container{
    margin: 10px;
    padding: 10px;
}
 h1,h2,h3{
     font-size: 28px;
     color: #f76b8a;
     font-weight:bold;
     font-style:italic;
     text-align: center;
 }

    .campos{
        text-align: center;
    }
    
    .pass-requirement{
        font-size: 20px;
        font-family: monospace;
        color: magenta;
        font-weight: 900;
    }
    .sign-input{
        background: mediumturquoise;
        color: navy;
        font-family: monospace;
        padding: 10px 20px;
        border: solid palevioletred 1px;
    }

    #pass{
        padding: 10px 20px;
        border: solid palevioletred 1px;
    }

    .foto-pc{
        display: block;
        margin: 45px auto;
    }
  
hr{
    border: palevioletred solid 2px;
}
.parte-titulo{
    font-size:20px;
    font-family: monospace;
    text-align: center;
    color: #ffb5b5;
}





